@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

@theme inline {
  --phi: calc((1 + sqrt(5)) / 2);
  --gwx: calc(var(--phi) - 1);
  --gnx: calc(1 - var(--gwx));
  --snx: calc(1 + var(--gnx));
  --swx: var(--phi);

  --text-xs: calc(var(--text-md) * .98);
  --text-sm: calc(var(--text-md) * .99);
  --text-md: clamp(21px, calc(1dvw * var(--phi)), 28px);
  --text-base: var(--text-md);
  --text-lg: clamp(28px, calc(var(--text-md) * pow(var(--snx), 2)), 35px);
  --text-xl: clamp(35px, calc(var(--text-md) * pow(var(--snx), 3)), 42px);
  --text-2x: clamp(42px, calc(var(--text-md) * pow(var(--snx), 4)), 49px);
  --text-3x: clamp(49px, calc(var(--text-md) * pow(var(--snx), 5)), 56px);
  --text-4x: clamp(56px, calc(var(--text-md) * pow(var(--snx), 6)), 63px);
  --text-5x: clamp(63px, calc(var(--text-md) * pow(var(--snx), 7)), 70px);
  --text-6x: clamp(70px, calc(var(--text-md) * pow(var(--snx), 8)), 77px);
  --text-7x: clamp(77px, calc(var(--text-md) * pow(var(--snx), 9)), 84px);
  --text-8x: clamp(84px, calc(var(--text-md) * pow(var(--snx), 10)), 91px);
  --text-9x: clamp(91px, calc(var(--text-md) * pow(var(--snx), 11)), 98px);

  --line-height: clamp(1, var(--gnx), var(--gwx));
  --text-min: var(--text-sm);
  --text-max: var(--text-md);

  --spacing-base: clamp(4px, calc(1rem * var(--gnx) / var(--swx)), 6px);
  --spacing-sm: clamp(2px, calc(var(--spacing-base) / var(--swx)), 4px);
  --spacing-xs: clamp(1px, calc(var(--spacing-sm) / var(--swx)), 3px);
  --spacing-md: clamp(
    var(--spacing-base),
    calc(var(--spacing-base) * var(--swx)),
    28px
  );
  --spacing-lg: clamp(
    var(--spacing-md),
    calc(var(--spacing-md) * var(--swx)),
    35px
  );
  --spacing-xl: clamp(
    var(--spacing-lg),
    calc(var(--spacing-lg) * var(--swx)),
    42px
  );
  --spacing-2x: clamp(
    var(--spacing-xl),
    calc(var(--spacing-xl) * var(--swx)),
    49px
  );
  --spacing-3x: clamp(
    var(--spacing-2x),
    calc(var(--spacing-2x) * var(--swx)),
    56px
  );
  --spacing-4x: clamp(
    var(--spacing-3x),
    calc(var(--spacing-3x) * var(--swx)),
    63px
  );
  --spacing-5x: clamp(
    var(--spacing-4x),
    calc(var(--spacing-4x) * var(--swx)),
    70px
  );
  --spacing-6x: clamp(
    var(--spacing-5x),
    calc(var(--spacing-5x) * var(--swx)),
    77px
  );
  --spacing-7x: clamp(
    var(--spacing-6x),
    calc(var(--spacing-6x) * var(--swx)),
    84px
  );
  --spacing-8x: clamp(
    var(--spacing-7x),
    calc(var(--spacing-7x) * var(--swx)),
    91px
  );
  --spacing-9x: clamp(
    var(--spacing-8x),
    calc(var(--spacing-8x) * var(--swx)),
    98px
  );

  --container-gw: calc(var(--gwx) * 100%);
  --container-gn: calc(var(--gnx) * 100%);
  --container-gn-2x: calc(var(--container-gn) * 2);
  --container-gn-1\/2: calc(var(--container-gn) * 0.5);
  --container-gw-1\/2: calc(var(--container-gw) * 0.5);

  --size-gw: var(--container-gw);
  --size-gn: var(--container-gn);
  --size-gn-2x: var(--container-gn-2x);
  --size-gn-1\/2: var(--container-gn-1\/2);
  --size-gw-1\/2: var(--container-gw-1\/2);

  --spacing-gw: var(--container-gw);
  --spacing-gn: var(--container-gn);
  --spacing-gn-2x: var(--container-gn-2x);
  --spacing-gn-1\/2: var(--container-gn-1\/2);
  --spacing-gw-1\/2: var(--container-gw-1\/2);

  --aspect-golden: 1 / var(--gwx);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-fade-in-up: fade-in-up 0.6s ease-out;
  --animate-fade-in-up-delay-1: fade-in-up 0.6s ease-out 0.1s both;
  --animate-fade-in-up-delay-2: fade-in-up 0.6s ease-out 0.2s both;
  --animate-fade-in-up-delay-3: fade-in-up 0.6s ease-out 0.3s both;
  --animate-fade-in-up-delay-4: fade-in-up 0.6s ease-out 0.4s both;
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-soft: pulse-soft 3s ease-in-out infinite;
  --animate-scale-in: scale-in 0.3s ease-out;

  --color-accent-foreground: var(--accent-foreground);
  --color-accent-hover: var(--accent-hover);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive: var(--destructive);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary: var(--secondary);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar: var(--sidebar);

  --color-input: var(--input-base);
  --color-input-focus: var(--input-focus);
  --color-input-invalid: var(--input-invalid);
  --color-input-valid: var(--input-valid);
  --color-input-disabled: var(--input-disabled);
  --color-input-readonly: var(--input-readonly);
  --color-input-required: var(--input-required);
  --color-input-placeholder: var(--input-placeholder);
  --color-input-foreground: var(--input-foreground);

  --color-rosewater: var(--catpuccin-rosewater);
  --color-flamingo: var(--catpuccin-flamingo);
  --color-pink: var(--catpuccin-pink);
  --color-mauve: var(--catpuccin-mauve);
  --color-red: var(--catpuccin-red);
  --color-maroon: var(--catpuccin-maroon);
  --color-peach: var(--catpuccin-peach);
  --color-yellow: var(--catpuccin-yellow);
  --color-green: var(--catpuccin-green);
  --color-teal: var(--catpuccin-teal);
  --color-sky: var(--catpuccin-sky);
  --color-sapphire: var(--catpuccin-sapphire);
  --color-blue: var(--catpuccin-blue);
  --color-lavender: var(--catpuccin-lavender);
  --color-text: var(--catpuccin-text);
  --color-subtext-1: var(--catpuccin-subtext-1);
  --color-subtext-0: var(--catpuccin-subtext-0);
  --color-overlay-2: var(--catpuccin-overlay-2);
  --color-overlay-1: var(--catpuccin-overlay-1);
  --color-overlay-0: var(--catpuccin-overlay-0);
  --color-surface-2: var(--catpuccin-surface-2);
  --color-surface-1: var(--catpuccin-surface-1);
  --color-surface-0: var(--catpuccin-surface-0);
  --color-base: var(--catpuccin-base);
  --color-mantle: var(--catpuccin-mantle);
  --color-crust: var(--catpuccin-crust);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-xl: calc(var(--radius) * 1.4);

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
}

:root {
  color-scheme: light dark;

  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: var(--line-height);

  --radius: 0.625rem;

  --accent-foreground: var(--catpuccin-text);
  --accent-hover: var(--catpuccin-blue);
  --accent: var(--catpuccin-sapphire);
  --background: var(--catpuccin-mantle);
  --border: var(--catpuccin-surface-1);
  --card-foreground: var(--catpuccin-text);
  --card: var(--catpuccin-mantle);
  --chart-1: var(--catpuccin-green);
  --chart-2: var(--catpuccin-yellow);
  --chart-3: var(--catpuccin-red);
  --chart-4: var(--catpuccin-purple);
  --chart-5: var(--catpuccin-blue);
  --destructive-foreground: var(--catpuccin-crust);
  --destructive-hover: var(--catpuccin-maroon);
  --destructive: var(--catpuccin-red);
  --foreground: var(--catpuccin-text);
  --input: var(--catpuccin-surface-0);
  --muted-foreground: var(--catpuccin-subtext-0);
  --muted: var(--catpuccin-overlay-0);
  --popover-foreground: var(--catpuccin-text);
  --popover: var(--catpuccin-surface-0);
  --primary-foreground: var(--catpuccin-crust);
  --primary-hover: color-mix(in srgb, var(--primary) 80%, var(--catpuccin-crust));
  --primary: var(--catpuccin-pink);
  --ring: var(--catpuccin-surface-0);
  --secondary-foreground: var(--catpuccin-crust);
  --secondary-hover: var(--catpuccin-peach);
  --secondary: var(--catpuccin-yellow);
  --sidebar-accent-foreground: var(--catpuccin-crust);
  --sidebar-accent: var(--catpuccin-pink);
  --sidebar-border: var(--catpuccin-surface-0);
  --sidebar-foreground: var(--catpuccin-text);
  --sidebar-primary-foreground: var(--catpuccin-crust);
  --sidebar-primary: var(--catpuccin-sapphire);
  --sidebar-ring: var(--catpuccin-surface-0);
  --sidebar: var(--catpuccin-base);

  --input: var(--catpuccin-base);
  --input-focus: var(--catpuccin-crust);
  --input-invalid: var(--catpuccin-red);
  --input-valid: var(--catpuccin-green);
  --input-disabled: var(--catpuccin-subtext-1);
  --input-readonly: var(--catpuccin-subtext-0);
  --input-required: var(--catpuccin-crust);
  --input-placeholder: var(--catpuccin-overlay-1);
  --input-foreground: var(--catpuccin-text);

  --catpuccin-rosewater: light-dark(#dc8a78, #f5e0dc);
  --catpuccin-flamingo: light-dark(#dd7878, #f2cdcd);
  --catpuccin-pink: light-dark(#ea76cb, #f5c2e7);
  --catpuccin-mauve: light-dark(#8839ef, #cba6f7);
  --catpuccin-red: light-dark(#d20f39, #f38ba8);
  --catpuccin-maroon: light-dark(#e64553, #eba0ac);
  --catpuccin-peach: light-dark(#fe640b, #fab387);
  --catpuccin-yellow: light-dark(#df8e1d, #f9e2af);
  --catpuccin-green: light-dark(#40a02b, #a6e3a1);
  --catpuccin-teal: light-dark(#179299, #94e2d5);
  --catpuccin-sky: light-dark(#04a5e5, #89dceb);
  --catpuccin-sapphire: light-dark(#209fb5, #74c7ec);
  --catpuccin-blue: light-dark(#1e66f5, #89b4fa);
  --catpuccin-lavender: light-dark(#7287fd, #b4befe);
  --catpuccin-text: light-dark(#4c4f69, #cdd6f4);
  --catpuccin-subtext-1: light-dark(#5c5f77, #bac2de);
  --catpuccin-subtext-0: light-dark(#6c6f85, #a6adc8);
  --catpuccin-overlay-2: light-dark(#7c7f93, #9399b2);
  --catpuccin-overlay-1: light-dark(#8c8fa1, #7f849c);
  --catpuccin-overlay-0: light-dark(#9ca0b0, #6c7086);
  --catpuccin-surface-2: light-dark(#acb0be, #585b70);
  --catpuccin-surface-1: light-dark(#bcc0cc, #45475a);
  --catpuccin-surface-0: light-dark(#ccd0da, #313244);
  --catpuccin-base: light-dark(#eff1f5, #1e1e2e);
  --catpuccin-mantle: light-dark(#e6e9ef, #181825);
  --catpuccin-crust: light-dark(#dce0e8, #11111b);

  --catpuccin-mocha-rosewater: #f5e0dc;
  --catpuccin-mocha-flamingo: #f2cdcd;
  --catpuccin-mocha-pink: #f5c2e7;
  --catpuccin-mocha-mauve: #cba6f7;
  --catpuccin-mocha-red: #f38ba8;
  --catpuccin-mocha-maroon: #eba0ac;
  --catpuccin-mocha-peach: #fab387;
  --catpuccin-mocha-yellow: #f9e2af;
  --catpuccin-mocha-green: #a6e3a1;
  --catpuccin-mocha-teal: #94e2d5;
  --catpuccin-mocha-sky: #89dceb;
  --catpuccin-mocha-sapphire: #74c7ec;
  --catpuccin-mocha-blue: #89b4fa;
  --catpuccin-mocha-lavender: #b4befe;
  --catpuccin-mocha-text: #cdd6f4;
  --catpuccin-mocha-subtext-1: #bac2de;
  --catpuccin-mocha-subtext-0: #a6adc8;
  --catpuccin-mocha-overlay-2: #9399b2;
  --catpuccin-mocha-overlay-1: #7f849c;
  --catpuccin-mocha-overlay-0: #6c7086;
  --catpuccin-mocha-surface-2: #585b70;
  --catpuccin-mocha-surface-1: #45475a;
  --catpuccin-mocha-surface-0: #313244;
  --catpuccin-mocha-base: #1e1e2e;
  --catpuccin-mocha-mantle: #181825;
  --catpuccin-mocha-crust: #11111b;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --easing-elastic: linear(
    0,
    0.003 0.3%,
    0.01 0.6%,
    0.038 1.2%,
    0.09 1.9%,
    0.159 2.6%,
    0.321 3.9%,
    0.827 7.5%,
    0.96 8.6%,
    1.061 9.6%,
    1.142 10.6%,
    1.202 11.6%,
    1.225 12.1%,
    1.242 12.6%,
    1.254 13.1%,
    1.263 13.7%,
    1.266 14.4%,
    1.262 15.1%,
    1.249 15.9%,
    1.23 16.7%,
    1.185 18.1%,
    1.043 21.9%,
    1.008 23%,
    0.979 24.1%,
    0.961 25%,
    0.945 26%,
    0.936 26.9%,
    0.93 27.9%,
    0.929 29.1%,
    0.935 30.5%,
    0.947 32%,
    0.986 35.9%,
    1.001 37.8%,
    1.013 39.9%,
    1.018 42.1%,
    1.017 44.8%,
    1 52%,
    0.995 56.3%,
    1.001 70.2%,
    1 84.2%,
    1
  );
}

.light {
  --catpuccin-rosewater: #dc8a78;
  --catpuccin-flamingo: #dd7878;
  --catpuccin-pink: #ea76cb;
  --catpuccin-mauve: #8839ef;
  --catpuccin-red: #d20f39;
  --catpuccin-maroon: #e64553;
  --catpuccin-peach: #fe640b;
  --catpuccin-yellow: #df8e1d;
  --catpuccin-green: #40a02b;
  --catpuccin-teal: #179299;
  --catpuccin-sky: #04a5e5;
  --catpuccin-sapphire: #209fb5;
  --catpuccin-blue: #1e66f5;
  --catpuccin-lavender: #7287fd;
  --catpuccin-text: #4c4f69;
  --catpuccin-subtext-1: #5c5f77;
  --catpuccin-subtext-0: #6c6f85;
  --catpuccin-overlay-2: #7c7f93;
  --catpuccin-overlay-1: #8c8fa1;
  --catpuccin-overlay-0: #9ca0b0;
  --catpuccin-surface-2: #acb0be;
  --catpuccin-surface-1: #bcc0cc;
  --catpuccin-surface-0: #ccd0da;
  --catpuccin-base: #eff1f5;
  --catpuccin-mantle: #e6e9ef;
  --catpuccin-crust: #dce0e8;
}

.dark {
  --catpuccin-rosewater: #f5e0dc;
  --catpuccin-flamingo: #f2cdcd;
  --catpuccin-pink: #f5c2e7;
  --catpuccin-mauve: #cba6f7;
  --catpuccin-red: #f38ba8;
  --catpuccin-maroon: #eba0ac;
  --catpuccin-peach: #fab387;
  --catpuccin-yellow: #f9e2af;
  --catpuccin-green: #a6e3a1;
  --catpuccin-teal: #94e2d5;
  --catpuccin-sky: #89dceb;
  --catpuccin-sapphire: #74c7ec;
  --catpuccin-blue: #89b4fa;
  --catpuccin-lavender: #b4befe;
  --catpuccin-text: #cdd6f4;
  --catpuccin-subtext-1: #bac2de;
  --catpuccin-subtext-0: #a6adc8;
  --catpuccin-overlay-2: #9399b2;
  --catpuccin-overlay-1: #7f849c;
  --catpuccin-overlay-0: #6c7086;
  --catpuccin-surface-2: #585b70;
  --catpuccin-surface-1: #45475a;
  --catpuccin-surface-0: #313244;
  --catpuccin-base: #1e1e2e;
  --catpuccin-mantle: #181825;
  --catpuccin-crust: #11111b;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    max-width: 100dvw;
    min-height: 100dvh;
    background-color: var(--background);
    color: color-mix(in srgb, var(--foreground) 70%, transparent);
    font-weight: 400;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* transition: all 0.3s ease-out;
    transform: translateY(0px); */

    &:focus-visible {
      outline: solid 1px transparent;
    }
  }

  a,
  a:link {
    color: color-mix(in srgb, var(--foreground) 80%, transparent);
    font-weight: 900;
  }

  a:hover,
  a:focus-visible,
  a:active {
    color: color-mix(in srgb, var(--foreground) 90%, transparent);
  }

  a[href], button, [type="button"], [type="reset"], [type="submit"], [type="checkbox"], [type="radio"], [type="file"], select, summary, legend, label, [role="button"], [role="link"] {
    @apply cursor-pointer;
  }

  small,
  sub,
  sup {
    --text-min: var(--text-xs);
    --text-max: var(--text-base);
    --text-base: var(--text-sm);
    font-size: clamp(var(--text-min), var(--text-base), var(--text-max));
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  pre,
  address,
  input,
  select,
  label,
  legend,
  textarea,
  button,
  li,
  dt,
  dd,
  td,
  th,
  figcaption,
  caption,
  summary,
  option,
  output,
  slot,
  code {
    font-size: clamp(var(--text-min), var(--text-base), var(--text-max));
    line-height: calc(var(--line-height) * var(--text-base));
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    font-weight: 100;
  }

  ul,
  dl,
  ol,
  blockquote,
  pre,
  address,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: var(--spacing-lg);
    }
  }

  h1,
  .h1 {
    --text-min: var(--text-2x);
    --text-max: var(--text-4x);
    --text-base: var(--text-3x);
  }

  h2,
  .h2 {
    --text-min: var(--text-xl);
    --text-max: var(--text-3x);
    --text-base: var(--text-2x);
  }

  h3,
  .h3 {
    --text-min: var(--text-lg);
    --text-max: var(--text-2x);
    --text-base: var(--text-xl);
  }

  h4,
  .h4 {
    --text-min: var(--text-md);
    --text-max: var(--text-xl);
    --text-base: var(--text-lg);
  }

  h5,
  .h5 {
    --text-min: var(--text-base);
    --text-max: var(--text-lg);
    --text-base: var(--text-md);
  }

  h6,
  .h6,
  strong,
  dt {
    font-weight: 900;
  }

  :is(input:not([type="radio"], [type="checkbox"], [type="button"], [type="reset"], [type="submit"]), textarea, select) {
@apply block w-full rounded-none border border-border bg-input bg-clip-padding font-normal text-input-foreground placeholder:text-input-placeholder placeholder:opacity-50 focus:border-ring focus:ring-1 focus:ring-ring/50 
  }

  button, input:is([type="button"], [type="reset"], [type="submit"]) {
    @apply inline-flex shrink-0 items-center justify-center rounded-none border border-transparent bg-clip-padding font-black whitespace-nowrap transition-all outline-none select-none focus-visible:border-ring focus-visible:ring-1 focus-visible:ring-ring/50 active:not-aria-[haspopup]:translate-y-px disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-1 aria-invalid:ring-destructive/20 bg-primary text-primary-foreground h-8 gap-1.5 px-2.5 has-data-[icon=inline-end]:pr-2 has-data-[icon=inline-start]:pl-2
  }

  li {
    @apply ml-4 pl-1 list-outside;

    li {
      @apply ml-4 pl-1 list-outside;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  nav li a {
    @apply block w-full;
  }

  nav {
    ul, ol, menu, li {
      @apply m-0 p-0 indent-0 list-none;
    }
  }

  #follower {
    anchor-name: --follower;
    width: 28px;
    height: 28px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    margin: -14px 0 0 -14px;
  }

  #indicator {
    position-anchor: --follower;
    position: fixed;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    border-radius: var(--radius);
    border: 2px solid color-mix(in srgb, var(--background) 50%, transparent);
    background: color-mix(in srgb, var(--foreground) 50%, transparent);
    z-index: 9090;
    pointer-events: none;
    mix-blend-mode: overlay;
    opacity: 0;
    transition: all 1.5s var(--easing-elastic);
  }

  body:has(:hover, :focus-visible, :active) {
    :hover,
    :focus-visible,
    :active {
      anchor-name: --hovered;
    }

    #indicator {
      position-anchor: --hovered;
      opacity: 1;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes pulse-soft {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
  }

  @keyframes scale-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hl-sr-only,
.sr-nav-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.hl-sr-only-focusable,
.sr-nav-link {
  &:active,
  &:focus,
  &:has(:focus) {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
  }
}
